<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet"/>
</head>
<body>
    <nav class="navbar">
        <h1 class="navbar-brand">24/7</h1>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link active" href="#main-content">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Favorite</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/rrewind">About Us</a></li>
        </ul>
        <div class="menu-toggle">
            <div class="hamburger">
            </div>
        </div>
    </nav>
    <header>
        <div class="hero">
            <div class="hero_inner">
                <h1 class="hero_title hero-bold">Kami Ready Kapanpun, Dimanapun</h1>
                <p class="hero_tagline">Selain buka 24/7, sekarang Kami tersedia di berbagai Kota!<br><span>Tunggu Apalagi??</span></p>
            </div>
        </div>
    </header>
    
    <main id="main-content">
        <section class="content">
            <div class="explore">
                <h1 class="explore_label">List Resto</h1>
                <div class="lists">
                    <article class="list-item">
                        <img class="list-item_thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="list-item_content">
                            <p class="list-item_date">About 10 Hours Ago By <a href="#" class="list-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="list-item_title"><a href="#">Bring Your Phone Cafe</a></h1>
                            <p class="list-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="list-item">
                        <img class="list-item_thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="list-item_content">
                            <p class="list-item_date">About 10 Hours Ago By <a href="#" class="list-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="list-item_title"><a href="#">Run The Gun</a></h1>
                            <p class="list-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="list-item">
                        <img class="list-item_thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="list-item_content">
                            <p class="list-item_date">About 10 Hours Ago By <a href="#" class="list-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="list-item_title"><a href="#">Pangsit Express</a></h1>
                            <p class="list-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="list-item">
                        <img class="list-item_thumbnail"
                             src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/38"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="list-item_content">
                            <p class="list-item_date">About 10 Hours Ago By <a href="#" class="list-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="list-item_title"><a href="#">Ducky Duck</a></h1>
                            <p class="list-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - RestoLembur</p>
    </footer>
</body>
</html>
