<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="#">Logo</a></li>
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero_inner">
            <!-- <img src="./images/heros/hero-image_2.jpg" alt=""> -->
            <h1 class="hero_title">Kami Ready Kapanpun, Dimanapun</h1>
            <p class="hero_tagline">RestoLembur sekarang tersedia di berbagai Kota! Tunggu Apalagi ??</p>
        </div>
    </div>
    <main>
        <section class="content">
            <div class="list">
                <h1 class="list_label">List Resto</h1>
                <div class="posts">
                    <article class="post-item">
                        <img class="post-item_thumbnail"
                             src="images/hero-image_2.jpg"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item_content">
                            <p class="post-item_date">About 10 Hours Ago By <a href="#" class="post-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="post-item_title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item_thumbnail"
                             src="images/hero-image_2.jpg"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item_content">
                            <p class="post-item_date">About 10 Hours Ago By <a href="#" class="post-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="post-item_title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item_thumbnail"
                             src="images/hero-image_2.jpg"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item_content">
                            <p class="post-item_date">About 10 Hours Ago By <a href="#" class="post-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="post-item_title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                    <article class="post-item">
                        <img class="post-item_thumbnail"
                             src="images/hero-image_2.jpg"
                             alt="Gambar dua orang wanita sedang memegang laptop">
                        <div class="post-item_content">
                            <p class="post-item_date">About 10 Hours Ago By <a href="#" class="post-item_date_author">Dicoding
                                Intern</a>
                            </p>
                            <h1 class="post-item_title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                            <p class="post-item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                doloremque impedit quod tempora tenetur totam vero.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>Copyright © 2020 - RestoLembur</p>
    </footer>
</body>
</html>
