<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <header>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="#">Logo</a></li>
                <li class="nav_item"><a href="#">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Kami Ready Kapanpun, Dimanapun</h1>
            <p class="hero_tagline">RestoLembur sekarang tersedia di berbagai Kota! Tunggu Apalagi ??</p>
        </div>
    </div>
</body>
</html>
