* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Header
 *
 */

.header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header_menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;
}


nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 5em;
    height: 75px;
    font-family: 'Unica One', cursive;
  }
  
  .menu {
    font-size: 25px;
    display: none;
    padding: 0 0.3em;
    color: #000;
    background-color: #fff;
  }
  
  .logo-font {
    font-size: x-large;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: 0.378em 0.3em;
  }
  
  .nav-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    transition: ease;
    background-color: #fff;
  }
  
  .nav-item {
    box-sizing: border-box;
    line-height: 24px;
  }
  
  .nav-item a {
    padding: 0.665rem;
    display: inline-block;
    font-size: 1.38em;
    text-decoration: none;
    color: #000;
  }
  
  .nav-item button {
    padding: 0.9265rem;
    background-color: transparent;
    border: 0 solid transparent;
    color: #000;
    cursor: pointer;
    font-size: 1.38;
    vertical-align: middle;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .nav-item button:hover {
    text-decoration: underline;
  }

/*
 * Jumbotron
 */

.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    text-align: center;
    background: url('/images/hero-image_2.jpg');
    background-position: center;
    background-color: green;
}

.hero_inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero_title {
    color: #000;
    font-weight: 500;
    font-size: 36px;
}

.hero_tagline {
    color: #000;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * explore
 */

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore_label {
    font-size: 32px;
    font-weight: lighter;
}

.explore_label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.lists {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * post item
 */

.list-item {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.list-item_content {
    padding: 16px 32px 32px 32px;
}

.list-item_thumbnail {
    width: 100%;
}

.list-item_date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.list-item_date_author {
    color: red;
    text-decoration: none;
}

.list-item_title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.list-item_title:hover {
    opacity: 0.5;
}

.list-item_title a {
    text-decoration: none;
    color: inherit;
}

.list-item_description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #2c3e50;
    padding: 2em;
    width: 100%;
    text-align: center;
}

footer p {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}