* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
}

/*
 * Top Level Navigation *
 */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
    background-color: #000000;
}
  
.navbar-brand {
    color: #fffb04;
    font-family: "Oswald", sans-serif;
    font-size: x-large;
    text-transform: uppercase;
}
  
.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.nav-link {
    font-size: x-large;
    color: #ffffff;
    text-decoration: none;
}
  
.nav-link:hover {
    color: #fffb04;
    border-bottom: 3px solid #fffb04;
}
  
.active {
    font-weight: 700;
    color: #fffb04;
    border-bottom: 3px solid #fffb04;
}
  
.open .nav-list {
    transform: translateX(0);
}
  
.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
  
.hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #fffffd;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
}
  
.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
    border: none;
}
  
.hamburger::before {
    transform: translateY(-8px);
}
  
.hamburger::after {
    transform: translateY(8px);
}

.open .hamburger {
    background: transparent;
}
  
.open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
}
  
.open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
}


/*
 * Header
 *
 */

 .header {
    min-height: 56px;
    transition: min-height 0.3s;
}

.header_menu {
    font-size: 32px;
    margin: 10px auto;
    display: block;
    width: 30px;
}

/*
 * Jumbotron
 */

.hero {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background: linear-gradient(71.9deg, #ddda10b6 -3.77%, #1f1f06c0 92.46%), url('/images/hero-image_2.jpg');
    background-position: center;
    background-color: #ffffff;
    object-fit: fill;
    padding: 0 10%;
}

.hero_inner {
    align-self: center;
    max-width: 600px;
    margin: auto 0;
    padding-bottom: 3em;
}

.hero_title {
    color: #000;
    font-weight: 500;
    font-size: x-large;
}

.hero-bold {
    font-weight: bold;
    font-size: x-large;
    color: #ffffff;
    background-color: #000000bb;
    padding: 0.3em 0.2em;
    border-radius: 0.5em;
    margin: 0.2em;
    display: inline-block;
}

.hero_tagline {
    color: #000;
    margin-top: 16px;
    font-size: large;
    font-weight: 500;
}

/*
 * main
 */

main {
    width: 100%;
    margin: 0 auto;
}

/*
 * content
 */

.content {
    padding: 32px;
}

/*
 * explore
 */

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore_label {
    font-size: 32px;
    font-weight: lighter;
}

.explore_label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.lists {
    margin: 32px auto auto;
    text-align: left;
}

/*
 * post item
 */

.list-item {
    margin: 16px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.list-item_content {
    padding: 16px 32px 32px 32px;
}

.list-item_thumbnail {
    width: 100%;
}

.list-item_date {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.list-item_date_author {
    color: red;
    text-decoration: none;
}

.list-item_title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.list-item_title:hover {
    opacity: 0.5;
}

.list-item_title a {
    text-decoration: none;
    color: inherit;
}

.list-item_description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
}

/*
 * footer
 */

footer {
    background-color: #2c3e50;
    padding: 2em;
    width: 100%;
    text-align: center;
}

footer p {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}