.lists {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) {
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  .navbar-brand {
    font-size: xx-large;
  }

  .nav-link {
    margin-left: 4rem;
    font-size: large;
    transition: all 0.1s;
  }
  .menu-toggle {
    display: none;
  }

  .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
  }

  .list-item_content {
    padding: 16px 32px 32px 32px;
  }

  .list-item_title {
    font-size: 18px;
  }

  .list-item_description {
    font-size: 14px;
  }
}

@media screen and (min-width: 900px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
}